@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #fb8d33;
    overflow-x: hidden;
}
.container{
    background-image: url(./Media/bg-5.png);
    background-size: contain;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}
nav > ul{
    display: flex;
    color: white;
}
nav > ul > a > li{
    list-style: none;
    color: white;
    text-decoration: none;
    font-size: 18.1pt;
    margin: 0px 50px;
    font-weight: 600;
    transition: 100ms ease;
}

nav > ul > a{
    text-decoration: none;
}

.main-panel{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    margin-bottom: 300px;
    z-index: 2;
}
.mid-main{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 50px;
}
.side-main{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 750px;
    background-color: #ffa300;
    border-radius: 20px;
    z-index: 3;
}
img[src="./Media/arrow-left.png"]{
    width: 70px;
    margin-top: 20px;
    cursor: pointer;
    z-index: 3;
}
img[src="./Media/arrow-right.png"]{
    width: 70px;
    margin-top: 20px;
    cursor: pointer;
}
img[src="./Media/2.png"]{
    width: 600px;
}
img[src="./Media/1.png"]{
    width: 600px;
}
img[src="./Media/3.png"]{
    width: 600px;
}
img[src="./Media/4.png"]{
    width: 600px;
}
h1{
    font-size: 43.8pt;
    font-weight: 300;
    letter-spacing: 10pt;
}
h2{
    font-size: 80pt;
    position: relative;
    bottom: 42px;
}
h3{
    font-size: 94pt;
    color: #ffa300;
    position: relative;    
    bottom: 110px;
}
.mid-main > p{
    text-align: center;
    font-size: 12pt;
    font-weight: 600;
    position: relative;    
    bottom: 100px;
    width: 90%;
}
.mid-main > button{
    background-color: transparent;
    padding: 20px 50px;
    color: #ffa300;
    border: solid #ffa300 5px;
    border-radius: 10px;
    position: relative;
    bottom: 60px;
    right: 7px;
    font-size: 22px;
    font-weight: 800;
    cursor: pointer;
    transition: 100ms ease-in-out;
}
.mid-main > button:hover{
    background-color: #ffa300;
    color: #000000;
    border: solid #000000 5px;
}
nav > ul > a > li:hover{
    color: #ffa300;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin-bottom: 100px;
    height: auto;
    color: white;
}
.left-menu{
    width: 40%;
}
.right-menu{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wheel{
    width: 100%;
    transform: scale(3.9) translateX(-230px);
}
.controller > img{
    width: 50px;
    cursor: pointer;
    z-index: 3;
}
.cuisine{
    color: #ffa300;
}
h4{
    font-size: 70pt;
    text-align: center;
    margin-bottom: 70px;
}
h5{
    font-size: 40pt;
    color: #ffa300;
    text-align: center;
}
.right-menu > p{
    text-align: center;
    padding: 10px 40px ;
}
.controller{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}
h6{
    font-size: 40pt;
    text-align: center;
}
.right-menu > p{
    margin: 0px 50px;
    font-size: 18pt;
}
.h5, .h5-p {
    transition: opacity 0.5s ease;
    opacity: 1;
}

.fade-out {
    opacity: 0;
}
van{
    display: none;
    position: fixed;
    background-color: #ffa300;
    height: 100vh;
    left: -700px;
    z-index: 20;
    width: 70vw;
    transition: 0.5s ease;
}
van > ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
van > ul > a > li{
    color: black;
    margin-top: 40px;
    list-style: none;
    text-decoration: none;
    font-size: 35pt;
    /* margin: 0px 50px; */
    font-weight: 600;
    transition: 100ms ease;
}

van > ul > a{
    text-decoration: none;
}
burger{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40px;
    width: 50px;
    position: fixed;
    right: 20px;
    top: 10px;
}
.line{
    /* background-color: white; */
    background-color: #ffa300;
    display: block;
    border-radius: 10px;
    width: 100%;
    height: 6px;
    transition: 0.7s ease;
}
.show{
    left: 0px;
}
/* PRELOADER BY IZ */
.wrapper {
  position: fixed;
  top: 0;
  left: -100;
  width: 100%;
  height: 100%;
  background-color: #ffa300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.wrapper > h1 {
    position: relative;
    margin: 0 auto;
    top: 25vh;
    width: 100vw;
    text-align: center;
    font-family: 'Amatic SC';
    font-size: 6vh;
    font-weight: 600;
    color: #333;
    opacity: 0.75;
    animation: pulse 2.5s linear infinite;
}

#cooking {
    position: relative;
    margin: 0 auto;
    top: 0;
    width: 75vh;
    height: 75vh;
    overflow: hidden;
}

#cooking #area {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    background-color: transparent;
    transform-origin: 15% 60%;
    animation: flip 2.1s ease-in-out infinite;
}

#cooking #area #sides {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: 15% 60%;
    animation: switchSide 2.1s ease-in-out infinite;
}

#cooking #area #sides #handle {
    position: absolute;
    bottom: 18%;
    right: 80%;
    width: 35%;
    height: 20%;
    background-color: transparent;
    border-top: 1vh solid #333;
    border-left: 1vh solid transparent;
    border-radius: 100%;
    transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
}
#cooking #area #sides #pan {
    position: absolute;
    bottom: 20%;
    right: 30%;
    width: 50%;
    height: 8%;
    background-color: #333;
    border-radius: 0 0 1.4em 1.4em;
    transform-origin: -15% 0;
}

#cooking #area #pancake {
    position: absolute;
    top: 24%;
    width: 100%;
    height: 100%;
    transform: rotateX(85deg);
    animation: jump 2.1s ease-in-out infinite;
}

#cooking #area #pancake #pastry {
    position: absolute;
    bottom: 26%;
    right: 37%;
    width: 40%;
    height: 45%;
    background-color: #333;
    box-shadow: 0 0 3px 0 #333;
    border-radius: 100%;
    transform-origin: -20% 0;
    animation: fly 2.1s ease-in-out infinite;
}

#cooking .bubble {
    position: absolute;
    border-radius: 100%;
    box-shadow: 0 0 0.25vh #4d4d4d;
    opacity: 0;
}

#cooking .bubble:nth-child(1) {
    margin-top: 2.5vh;
    left: 58%;
    width: 2.5vh;
    height: 2.5vh;
    background-color: #454545;
    animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
}

#cooking .bubble:nth-child(2) {
    margin-top: 3vh;
    left: 52%;
    width: 2vh;
    height: 2vh;
    background-color: #3d3d3d;
    animation: bubble 2s ease-in-out 0.35s infinite; 
}

#cooking .bubble:nth-child(3) {
    margin-top: 1.8vh;
    left: 50%;
    width: 1.5vh;
    height: 1.5vh;
    background-color: #333;
    animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
}

#cooking .bubble:nth-child(4) {
    margin-top: 2.7vh;
    left: 56%;
    width: 1.2vh;
    height: 1.2vh;
    background-color: #2b2b2b;
    animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
}

#cooking .bubble:nth-child(5) {
    margin-top: 2.7vh;
    left: 63%;
    width: 1.1vh;
    height: 1.1vh;
    background-color: #242424;
    animation: bubble 1.6s ease-in-out 1s infinite; 
}


@keyframes pulse {
    0% {
        transform: scale(1, 1);
        opacity: 0.25;
    }
    50% {
        transform: scale(1.2, 1);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0.25;
    }
}

@keyframes flip {
    0% {
        transform: rotate(0deg);
    }

    5% {
        transform: rotate(-27deg);
    }

    30%, 50% {
        transform: rotate(0deg);
    }

    55% {
        transform: rotate(27deg);
    }

    83.3% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes switchSide {
    0% {
        transform: rotateY(0deg) ;
    }

    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes jump {
    0% {
        top: 24;
        transform: rotateX(85deg);
    }
    25% {
        top: 10%;
        transform: rotateX(0deg);
    }
    50% {
        top: 30%;
        transform: rotateX(85deg);
    }
    75% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(85deg);
    }
}

@keyframes fly {
    0% {
        bottom: 26%;
        transform: rotate(0deg);
    }
    10% {
        bottom: 40%;
    }
    50% {
        bottom: 26%;
        transform: rotate(-190deg);
    }
    80% {
        bottom: 40%;
    }
    100% {
        bottom: 26%;
        transform: rotate(0deg);
    }
}

@keyframes bubble {
    0% {
        transform: scale(0.15, 0.15);
        top: 80%;
        opacity: 0;
    }
    50% {
        transform: scale(1.1, 1.1);
        opacity: 1;
    }
    100% {
        transform: scale(0.33, 0.33);
        top: 60%;
        opacity: 0;
    }
}

/* ADDING BURGER ANIMATION XD */

.alter-1{
    transform: rotate(45deg) translateY(16px);
}
.alter-2{
    transform: scaleY(300) translateX(-800px);
}
.alter-3{
    transform: rotate(-45deg) translateY(-16px);
}

.mid-main > h1{
    font-weight: 600;
}